html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 250px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f0f0f0;
}


h1 {
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

.btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: red;
  box-sizing: border-box;
  margin: 5px 10px;
  transition-duration: 0.3s;
}

.btn:hover {
  cursor: pointer;
}

.stop {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 0;
}

.none {
  display: none;
}

ul {
  text-align: center;
}

li:first-child {
  border-top: solid 1px #ccc;
}

ul li {
  padding-left: 10px;
  border-bottom: solid 1px #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul li:hover {
  background: #ebebeb;
  cursor: pointer;
}
