html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  max-height: 200px;
  overflow: auto;
}

body {
  width: 250px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f0f0f0;
  max-height: 200px;
  overflow: auto;
}

div:first-of-type {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 24px;
  margin-left: 20px;
  padding: 10px 0;
  text-align: center;
}

.btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: red;
  box-sizing: border-box;
  margin: 15px 15px;
  font-size: 12px;
  padding-top: 6px;
  box-shadow: inset 0 0 0 2px #b30000;
}

.btn:hover {
  cursor: pointer;
}

.stop {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 10%;
}

ul {
  text-align: center;
  list-style: none;
}

ul > div {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #ccc;
}

ul div:first-child {
  border-top: solid 1px #ccc;
}

ul li {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  text-align: left;
}

ul div div {
  width: 30px;
  padding-top: 5px;
}

ul li:hover {
  color: #ccc;
  cursor: pointer;
}

ul div div:hover {
  color: red;
  cursor: pointer;
}
